body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #373838;
  color: #ffffff;
  padding: 15px 0;
}

header h1 {
  margin: 0;
  text-align: left;
  padding-left: 20px;
}

nav {
  text-align: left;
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin: 10px 20px 0 auto;
  padding: 10px 20px;
  background-color: #0e86f6;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  align-items: right;
}

.btn:hover {
  background-color: #6a7179;
}

#homepage {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homepage .container {
  flex: 1;
  margin-right: 20px;
}

#homepage .container:last-child {
  margin-right: 0;
}

#homepage .container img {
  width: 100%;
  height: auto;
}
#info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info .container {
  flex: 1;
  margin-right: 20px;
}

#info .container:last-child {
  margin-right: 0;
}

#info .container img {
  width: 100%;
  height: auto;
}
#banner {
  position: relative;
  text-align: center;
}

#topimg {
  width: 100%;
  height: 50vh;
  display: block;
}

#about {
  background-color: #e7e0e0;
  padding: 20px;
  text-align: center;
}

#about .container h2 {
  margin-bottom: 10px;
}

#about .container p {
  text-align: left;
}

#about p {
  margin-bottom: 10px;
}

footer {
  background-color: #010200;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
